<div class="card">
    <!-- Form de Registrar material en proyecto -->
    <article class="card-body">
        <form #SupplyForm="ngForm" autocomplete="off" (submit)="onSubmit(SupplyForm)">
        <div class="form-group">
            <div class="form-row"> 
                <div class="form-group col">
                    <label>Material</label>
                    <select name="supplytype"  #supplytype="ngModel" [(ngModel)]="supply.supplytype" [ngModelOptions]="{standalone: true}" class="form-control">
                        <option *ngFor="let Supply of serviceSupply.list" >{{Supply.id}}-{{Supply.name}}</option>
                    </select>
                </div>
                <div class="col form-group">
                    <label>Cantidad</label>
                    <input type='number' class="form-control" name="quantity" #quantity="ngModel" [(ngModel)]="supply.quantity" required/>    
                </div>
            </div>            
        </div>
            <div class="form-group">
                <button type="submit" [disabled]="SupplyForm.invalid" class="btn btn-b-n btn-block">Registrar</button>
            </div>
        </form>
    </article>
</div> <!-- card.// -->
