<div class="card">
 

    <!-- Form de vendedores -->
    <article class="card-body">
      <form #Form="ngForm" autocomplete="off" (submit)="onSubmit(Form)">
        <div class="form-group">
          
          <div class="form-row">
            <div class="col form-group">
              <label>Nombre</label>
              <input name="firstname" #firstname="ngModel" [(ngModel)]="employee.firstname" class="form-control" required>
              <div class="validation-error" *ngIf="firstname.invalid && firstname.touched">
                      Este campo es obligatorio
              </div>
            </div>
            <div class="col form-group">
              <label>Apellido</label>
              <input name="lastnamea" #lastnamea="ngModel" [(ngModel)]="employee.lastnamea" class="form-control" required>
              <div class="validation-error" *ngIf="lastnamea.invalid && lastnamea.touched">
                      Este campo es obligatorio
              </div>
            </div>
            <div class="col form-group">
              <label>Apellido</label>
              <input name="lastnameb" #lastnameb="ngModel" [(ngModel)]="employee.lastnameb" class="form-control" required>
              <div class="validation-error" *ngIf="lastnameb.invalid && lastnameb.touched">
                      Este campo es obligatorio
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label>Telefono</label>
              <input name="telephone" #telephone="ngModel" [(ngModel)]="employee.telephone" class="form-control" required>
              <div class="validation-error" *ngIf="telephone.invalid && telephone.touched">
                      Este campo es obligatorio
              </div>
            </div>
            <div class="col form-group">
              <label>Cédula</label>
              <input name="id" #id="ngModel" [(ngModel)]="employee.id" class="form-control" required>
              <div class="validation-error" *ngIf="id.invalid && id.touched">
                      Este campo es obligatorio
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Salario por hora</label>
            <input name="salary" #salary="ngModel" [(ngModel)]="employee.salary" class="form-control" required>
            <div class="validation-error" *ngIf="salary.invalid && salary.touched">
                    Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="Form.invalid" class="btn btn-b-n btn-block">Registrar</button>
        </div>
  
      </form>
    </article>
  
  </div> <!-- card.// -->
  