<section class="property-single nav-arrow-b">
        <div class="container">
            <div class="property-summary">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box-d section-t4">
                            <h3 class="title-d">Presupuesto</h3>
                        </div>
                    </div>
                </div>
                <div class="summary-list">
                    <ul class="list">
                        <li class="d-flex justify-content-between">
                            <strong>Materiales:</strong>
                            <span>{{this.serviceBudget.budget.supply | currency:"₡"}}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Planilla:</strong>
                            <span> {{this.serviceBudget.budget.payroll | currency:"₡"}}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Total</strong>
                            <span> {{this.serviceBudget.budget.total | currency:"₡"}}
                            </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>