<div class="card">
 

    <article class="card-body">
      <!--/ Agents Grid Star /-->
      <div class="container">
        <div class="row">
  
          <table class="table">
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Salario por hora</th>
          
            <tr *ngFor="let employee of userService.employees">
              <td>{{employee.id}}</td>
              <td>{{employee.firstname}}</td>
              <td>{{employee.lastnamea}}</td>
              <td>{{employee.lastnameb}}</td>
              <td>{{employee.telephone}}</td>
              <td>{{employee.salary}}</td>
              
            </tr>
          </table>
  
        </div>
      </div>
      <!--/ Agents Grid End /-->
    </article>
  </div>
  