<div class="card">

  <article class="card-body">
    <!--/ Agents Grid Star /-->
    <div class="container">
      <div class="row">

        <table class="table">
          <th>Nombre</th>
          <th>Descripción</th>
          <th></th>
          <th></th>
          <tr *ngFor="let stage of stageList">
            <td>{{stage.Name}}</td>
            <td>{{stage.Description}}</td>
            <td ><input type="image" src="./assets/img/refresh.png" (click)="update(stage)" width="48" height="48">
            </td>
            <td><input type="image" src="./assets/img/cancel(1).png" (click)="delete(stage)" width="48" height="48">
            </td>
          </tr>
        </table>

      </div>
    </div>
    <!--/ Agents Grid End /-->
  </article>
</div>
