<div class="card">


  <!-- Form de vendedores -->
  <article class="card-body">
    <form #ClientForm="ngForm" autocomplete="off" (submit)="onSubmit(ClientForm)">
      <div class="form-group">
        <div class="form-row">
          <div class="col form-group">
            <label>Nombre de usuario</label>
            <input name="username" #username="ngModel" [(ngModel)]="engineer.username" class="form-control" required>
            <div class="validation-error" *ngIf="username.invalid && username.touched">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col form-group">
            <label>Contraseña</label>
            <input name="password" type="password" #password="ngModel" [(ngModel)]="engineer.password"
              class="form-control" required minlength="6">
            <!-- <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field':'Minimum 6 characters required'):''"></label> -->
            <div class="validation-error" *ngIf="password.invalid && password.touched">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label>Nombre</label>
            <input name="firstName" #firstName="ngModel" [(ngModel)]="engineer.firstName" class="form-control" required>
            <div class="validation-error" *ngIf="firstName.invalid && firstName.touched">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col form-group">
            <label>Apellido</label>
            <input name="lastnamea" #lastnamea="ngModel" [(ngModel)]="engineer.lastnamea" class="form-control" required>
            <div class="validation-error" *ngIf="lastnamea.invalid && lastnamea.touched">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col form-group">
            <label>Apellido</label>
            <input name="lastnameb" #lastnameb="ngModel" [(ngModel)]="engineer.lastnameb" class="form-control" required>
            <div class="validation-error" *ngIf="lastnameb.invalid && lastnameb.touched">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label>Telefono</label>
            <input name="telephone" #telephone="ngModel" [(ngModel)]="engineer.telephone" class="form-control" required>
            <div class="validation-error" *ngIf="telephone.invalid && telephone.touched">
              Este campo es obligatorio
            </div>
          </div>
          <div class="col form-group">
            <label>Cédula</label>
            <input name="id" #id="ngModel" [(ngModel)]="engineer.id" class="form-control" required>
            <div class="validation-error" *ngIf="id.invalid && id.touched">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label>Código</label>
            <input name="code" #code="ngModel" [(ngModel)]="engineer.code" class="form-control" required>
            <div class="validation-error" *ngIf="code.invalid && code.touched">
              Este campo es obligatorio
            </div>
          </div>
          <div class="form-group col">
            <label>Especialidad</label>
            <select name="major" #major="ngModel" [(ngModel)]="engineer.major" class="form-control" required>
              <option *ngFor="let major of majors">{{major}}</option>
            </select>
            <div class="validation-error" *ngIf="major.invalid && major.touched">
                Este campo es obligatorio
              </div>
          </div> <!-- form-group end.// -->
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="ClientForm.invalid" class="btn btn-b-n btn-block">Registrar</button>
      </div>

    </form>
  </article>

</div> <!-- card.// -->
