<div class="card">
 

        <article class="card-body">
          <!--/ Agents Grid Star /-->
          <div class="container">
            <div class="row">
      
              <table class="table">
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Usuario</th>
                <th>Código</th>
                <th>Especialidad</th>
               
                <tr *ngFor="let engineer of userService.engineers">
                  <td>{{engineer.id}}</td>
                  <td>{{engineer.firstname}}</td>
                  <td>{{engineer.lastnamea}}</td>
                  <td>{{engineer.lastnameb}}</td>
                  <td>{{engineer.telephone}}</td>
                  <td>{{engineer.username}}</td>
                  <td>{{engineer.code}}</td>
                  <td>{{engineer.major}}</td>
                  
                </tr>
              </table>
      
            </div>
          </div>
          <!--/ Agents Grid End /-->
        </article>
      </div>
      