<div class="container" style="padding-top: 5%;">
  <div class="accordion" id="accordionStage">
    <div class="card">
      <div class="card-header" id="headingStageOne">
        <h2 class="mb-0">
          <button class="btn " type="button" data-toggle="collapse" data-target="#collapseStageOne" aria-expanded="true"
            aria-controls="collapseStageOne">
            Lista
          </button>
        </h2>
      </div>
      <div id="collapseStageOne" class="collapse show" aria-labelledby="headingStageOne" data-parent="#accordionStage">
        <app-list-stage-project></app-list-stage-project>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingStageTwo">
        <h2 class="mb-0">
          <button class="btn " type="button" data-toggle="collapse" data-target="#collapseStageTwo" aria-expanded="true"
            aria-controls="collapseStageTwo">
            Registar
          </button>
        </h2>
      </div>
      <div id="collapseStageTwo" class="collapse show" aria-labelledby="headingStageTwo" data-parent="#accordionStage">
        <app-register-stage-project></app-register-stage-project>
      </div>
    </div>
   
    
      
  </div>
</div>

