<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single" >{{this.serviceProject.onProject.name}}</h1>
                    <span class="color-text-a">{{this.serviceProject.onProject.address}}</span>
                </div>
            </div>   
        </div>
    </div>
</section>
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="property-summary">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                        <h3 class="title-d">Datos</h3>
                    </div>
                </div>
            </div>
            <div class="summary-list">
                <ul class="list">
                    <li class="d-flex justify-content-between">
                        <strong>Proyecto ID:</strong>
                        <span>{{this.serviceProject.onProject.id}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <strong>Ubicación:</strong>
                        <span>{{this.serviceProject.onProject.address}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <strong>Área lote:</strong>
                        <span>{{this.serviceProject.onProject.lotarea}}m
                        <sup>2</sup>
                        </span>
                    </li>
                    <li class="d-flex justify-content-between">
                            <strong>Área construcción:</strong>
                            <span>{{this.serviceProject.onProject.builtarea}}m
                            <sup>2</sup>
                            </span>
                        </li>
                    <li class="d-flex justify-content-between">
                        <strong>Habitaciones:</strong>
                        <span>{{this.serviceProject.onProject.rooms}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <strong>Baños:</strong>
                        <span>{{this.serviceProject.onProject.restrooms}}</span>
                    </li>
                    <li class="d-flex justify-content-between">  
                        <strong>Pisos:</strong>
                        <span>{{this.serviceProject.onProject.floors}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>