<div class="card">
 

  <!-- Form de vendedores -->
  <article class="card-body">
    <form #SupplyForm="ngForm" autocomplete="off" (submit)="onSubmit(SupplyForm)">
      <div class="form-group">
        <div class="form-row">
          <div class="col form-group">
            <label>Material</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="supply.name" class="form-control" required>
            
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col form-group">
            <label>Código</label>
            <input type="number" name="id" #id="ngModel" [(ngModel)]="supply.id" class="form-control" required>
            
          </div>
          <div class="col form-group">
            <label>Precio</label>
            <input type="number" name="price" #price="ngModel" [(ngModel)]="supply.price" class="form-control" required>
            
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="SupplyForm.invalid" class="btn btn-b-n btn-block">Registrar</button>
      </div>
    </form>
  </article>
</div> <!-- card.// -->
